body{
	text-align:center;
  background :linear-gradient(  #E1BEE7 0%, #90CAF9 100%);
  background-repeat:no-repeat;
}

img{
 height:300px;
	width: 300px;
	border-color: aliceblue;
	border-style: single;
}
 
h1{
  text-shadow:2px 2pX #F8BBDO;
  font-size:20px;
}
ul{
    text-align: center;
}
.menu{
    list-style: none;
    font-family: cursive;
    float: right;
    top:10px;
    right:30px;
    cursor: pointer;
    color: black;
}
#myname{
    font-family: 'Courgette', cursive;
}